## Challenge 1: Read in a list

The file `counties.txt` has a column of counties in California. Read in the data into a list called `counties`.

In [1]:
with open("../counties.txt", "r") as f:  # from Answers folder must cd up one level
    counties = f.read().split('\n')
    
print(counties)

['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa', 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn', 'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen', 'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange', 'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito', 'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne', 'Ventura', 'Yolo', 'Yuba']

## Challenge 2: Writing a CSV file

Below is a `pandas` `DataFrame` created from a dictionary of lists representing various information about US states. Write this [object](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#object) as a CSV file called `states.csv`

In [2]:
import pandas as pd
states = pd.DataFrame( {'state': ['Ohio', 'Michigan', 'California', 'Florida', 'Alabama'],
                        'population': [11.6, 9.9, 39.1, 20.2, 4.9], 
                        'year in union': [1803, 1837, 1850, 1834, 1819], 
                        'state bird': ['Northern cardinal', np.nan, np.nan, np.nan, np.nan], 
                        'capital': ['Columbus', 'Lansing', 'Sacramento', 'Tallahassee', 'Montgomery']})
states

        state  population  year in union         state bird      capital
0        Ohio        11.6           1803  Northern cardinal     Columbus
1    Michigan         9.9           1837                NaN      Lansing
2  California        39.1           1850                NaN   Sacramento
3     Florida        20.2           1834                NaN  Tallahassee
4     Alabama         4.9           1819                NaN   Montgomery

In [3]:
states.to_csv('states.csv')